@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Rancho&family=Water+Brush&display=swap');

/* start navigation whole container */
nav {
    width: 1300px;
    height: 120px;
    /* background-color: rgb(233, 129, 17); */
    margin-left: 4%;
}

/* start navigation whole container */

#header {
    float: left;
    margin-top: 1.25em;
    margin-left: 1.875em;
}

.header_logotype_container {
    width: 240px;
    height: 190px;
    border-right: 1px solid #403F44;
    float: left;
    border-bottom: 1px solid #403F44;
    margin-left: 40px;
}

/* start button */
.header_menu_container {
    min-height: 3.125em;
    width: 37.5em;
    float: right;
    margin-top: 1.25em;
    margin-right: 4.0625em;
    /* background-color: #d61d23; */
}

/* end button */

.header_menu_container a {
    font-family: 'Lato', Helvetica, sans-serif;
}

.horizontal_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.horizontal_list li {
    float: left;
    margin-top: 20px;
}

.horizontal_list li:before {
    content: none;
}

.horizontal_list li {
    padding-left: 0;
    text-indent: 0;
}


/* start above navigation menu button */
.header_menu a {
    text-decoration: none;
    padding: 0 20px;
    border-left: 1px solid #d61d23;
    font-size: 16px;
    font-weight: 400;
}

.header_menu a.no_border {
    border-left: none;

}

.header_menu a:hover {
    color: #837c9a;
}

/* end above navigation menu button */

/* start download button */
.download {
    width: 225px;
    height: 45px;
    float: right;
}

.download a {
    text-decoration: none;
    font-size: 12px;
    font-family: 'Lato', Helvetica, sans-serif;
    font-style: italic;
    line-height: 45px;
    padding: 16px 17px;
    background: rgb(214, 40, 104);
}

.download a:hover {
    background: #ffffff;
}

.download a:hover {
    color: #e4e3e8;
}

.horizontal_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.horizontal_list li {
    float: left;
}

.horizontal_list li:before {
    content: none;
}

.horizontal_list li {
    padding-left: 0;
    text-indent: 0;
}

/* end download button */

/* start work .experience */
.wrapper1 {
    width: 90%;
    /* background-color: #000000; */
    background-image: url("image/header-background.jpg");
    /* box-shadow: 2px .8rem 1rem #b7b7b9; */
    margin-left: 5%;
}

.wrapper {
    width: 90%;
    height: 100%;
    background-color: #ffffff;
    /* box-shadow: 2px .8rem 1rem #e4e3e8; */
    margin-left: 5%;
    margin-top: 4%;
}


.avatar {
    width: 11.25em;
    height: 12.5em;
    margin-left: 42%;
    margin-bottom: 20px;
    padding: 3%;
}

.img_1 {
    max-width: 100%;
    height: auto;
}

.img_1 {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: .25rem;
}

.shadow_1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .25), 0 5px 15px 2px rgba(0, 0, 0, .2) !important;
}

.p-1 {
    padding: 20px;
}

.center {
    text-align: center;
}

.p-5 {
    padding: 2.5rem 2rem !important;
}

.h1 {
    margin-top: 0;
    font-weight: 700;
    width: 25em;
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 300;
    color: #ffffff;
    font-size: 2em;
    margin-left: 16.5%;
}

.h2 {
    width: 400px;
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 300;
    color: #403F44;
    font-size: 2.1875em;

}

.button_cont {
    margin-left: 25%;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y)*-1);
    margin-right: calc(var(--bs-gutter-x)/-2);
    margin-left: calc(var(--bs-gutter-x)/-2);
    padding-bottom: 4%;
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)/2);
    padding-left: calc(var(--bs-gutter-x)/2);
    margin-top: var(--bs-gutter-y)
}

.col {
    flex: 1 0 0%
}

.row-cols-auto>* {
    width: auto
}

.row-cols-1>*,
.row-cols-auto>* {
    flex: 0 0 auto
}

.row-cols-1>* {
    width: 100%
}

.row-cols-2>* {
    width: 50%
}

.row-cols-2>*,
.row-cols-3>* {
    flex: 0 0 auto
}

.row-cols-3>* {
    width: 33.3333333333%
}

.row-cols-4>* {
    width: 25%
}

.row-cols-4>*,
.row-cols-5>* {
    flex: 0 0 auto
}

.row-cols-5>* {
    width: 20%
}

.row-cols-6>* {
    width: 16.6666666667%
}

.col-auto,
.row-cols-6>* {
    flex: 0 0 auto
}

.col-auto {
    width: auto
}

.col-1 {
    width: 8.3333333333%
}

.col-1,
.col-2 {
    flex: 0 0 auto
}

.col-2 {
    width: 16.6666666667%
}

.col-3 {
    width: 25%
}

.col-3,
.col-4 {
    flex: 0 0 auto
}

.col-4 {
    width: 33.3333333333%
}

.col-5 {
    width: 41.6666666667%
}

.col-5,
.col-6 {
    flex: 0 0 auto
}

.col-6 {
    width: 50%
}

.col-7 {
    width: 58.3333333333%
}

.col-7,
.col-8 {
    flex: 0 0 auto
}

.col-8 {
    width: 66.6666666667%
}

.col-9 {
    width: 75%
}

.col-9,
.col-10 {
    flex: 0 0 auto
}

.col-10 {
    width: 83.3333333333%
}

.col-11 {
    width: 91.6666666667%
}

.col-11,
.col-12 {
    flex: 0 0 auto
}

.col-12 {
    width: 100%
}

.col-md-5 {
    width: 40%;
    margin-left: 5%;
}

.col-md-5,
.col-md-6 {
    flex: 0 0 auto
}

.col-md-6 {
    width: 47.5%;
    font-family: 'Lato', Helvetica, sans-serif;
}

.fw-light {
    font-weight: 300 !important
}

.fw-lighter {
    font-weight: lighter !important
}

.fw-normal {
    font-weight: 400 !important
}

.fw-bold {
    font-weight: 700 !important
}

.fw-bolder {
    font-weight: bolder !important
}

.mb-4 {
    margin-top: 8%;
    margin-bottom: 1.520rem;
    margin-left: 8%;
}

.mb-5 {
    margin-top: 9.5%;
    margin-bottom: 1.5rem;
}

.mb-6 {
    padding-top: 4%;
    margin-bottom: 1.520rem;
    margin-left: 4%;
}

.h2,
h2 {
    font-size: calc(1.325rem + .9vw);
}

.aboutme {
    margin-left: 8%;
    font-family: la'Lato', Helvetica, sans-serif;
    text-align: justify;
}

/* .bottom {
    margin-bottom: 10%;
} */

.col-sm-7 {
    width: 58.3333333333%;
    flex: 0 0 auto;
}

.col-sm-5 {
    width: 20%;
    flex: 0 0 auto;
}

.pb-2 {
    padding-bottom: .5rem;
}

/* start professional skills */
.skills_head {
    width: 100%;
    margin-bottom: 100px;
    display: grid;
    place-items: center;
    text-align: center;
}

.skills_head h2 {
    font-size: 30px;
    margin-bottom: -5px;
}

.skills_head h2 span {
    color: #e74d06;
}

.skills_main {
    width: 92%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
    margin-left: 4%;
    /* padding-top: 4%; */
    padding-bottom: 5%;
}

.skills_main .skill_bar .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.skill_bar .info p:nth-child(2) {
    font-weight: 500;
}

.skill_bar .bar {
    width: 100%;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 5px;
    margin-top: 5px;
    position: relative;
}

.skill_bar .bar span {
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #15b4ea;
}

.skill_bar .bar .html {
    width: 90%;
    animation: html 2s;
}

@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

.skill_bar .bar .sql {
    width: 60%;
    animation: sql 2s;
}

@keyframes sql {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}

.skill_bar .bar .js {
    width: 80%;
    animation: css 2s;
}

@keyframes js {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

.skill_bar .bar .react {
    width: 55%;
    animation: react 2s;
}

@keyframes react {
    0% {
        width: 0%;
    }

    100% {
        width: 55%;
    }
}

.skill_bar .bar .node {
    width: 55%;
    animation: node 2s;
}

@keyframes node {
    0% {
        width: 0%;
    }

    100% {
        width: 55%;
    }
}

.skill_bar .bar .native {
  width: 55%;
  animation: native 2s;
}

@keyframes native {
  0% {
      width: 0%;
  }

  100% {
      width: 55%;
  }
}

/* end professional skills */

/*  start Timeline custom component */
.timeline{
    margin-left: 3%;
}

.timeline-card {
    position: relative;
    margin-left: 16px;
}

.timeline-card:before {
    content: '';
    display: inline-block;
    position: absolute;
    background-color: #fff;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    top: 16px;
    left: -12px;
    border: 5px solid;
    z-index: 2;
}

.timeline-body {
    border-left: 2px solid #E6E9ED;
}

.timeline-card-primary:before {
    border-color: var(--bs-primary);
}

.timeline-card-info:before {
    border-color: #39c0ed;
}

.timeline-card-secondary:before {
    border-color: var(--bs-secondary);
}

.timeline-card-success:before {
    border-color: rgb(137, 208, 30);
}

/*  end Timeline custom component */


.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important
}

.pt-3 {
    padding-top: 1rem !important
}

.h5,
.h6,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2
}

.h5,
h5 {
    font-size: 1.25rem
}

.h6,
h6 {
    font-size: 1rem
}

.text-muted {
    color: #757575 !important
}

.text-small {
    font-size: 0.85rem;
}

.pb-4 {
    padding-bottom: 1.5rem !important
}

.mb-3 {
    margin-bottom: 1rem !important
}

/* start button */
.btn {
    text-transform: uppercase;
    vertical-align: bottom;
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2), 0 2px 10px 0 rgba(0, 0, 0, .1);
    font-weight: 500;
    padding: .625rem 1.5rem .5rem;
    font-size: .75rem;
    line-height: 1.5;
  }
  
  .btn.active,
  .btn.active:focus,
  .btn.focus,
  .btn:active,
  .btn:active:focus,
  .btn:focus,
  .btn:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .2), 0 4px 20px 0 rgba(0, 0, 0, .1)
  }
  
  .btn.disabled,
  .btn:disabled,
  fieldset:disabled .btn {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2), 0 2px 10px 0 rgba(0, 0, 0, .1);
    border: 0
  }
  
  .btn-check:focus+.btn,
  .btn:focus {
    outline: 0;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .2), 0 4px 20px 0 rgba(0, 0, 0, .1)
  }
  
  .btn-block {
    display: block;
    width: 100%
  }
  
  .btn-block+.btn-block {
    margin-top: .5rem
  }
  
  [class*=btn-outline-] {
    border-width: .125rem;
    border-style: solid;
    box-shadow: none;
    padding: .5rem 1.375rem .375rem
  }
  
  [class*=btn-outline-].focus,
  [class*=btn-outline-]:focus,
  [class*=btn-outline-]:hover {
    box-shadow: none;
    text-decoration: none
  }
  
  [class*=btn-outline-].active,
  [class*=btn-outline-].active:focus,
  [class*=btn-outline-].disabled,
  [class*=btn-outline-]:active,
  [class*=btn-outline-]:active:focus,
  [class*=btn-outline-]:disabled,
  fieldset:disabled [class*=btn-outline-] {
    box-shadow: none
  }
  
  .btn-group-lg>[class*=btn-outline-].btn,
  [class*=btn-outline-].btn-lg {
    padding: .625rem 1.5625rem .5625rem
  }
  
  .btn-group-sm>[class*=btn-outline-].btn,
  [class*=btn-outline-].btn-sm {
    padding: .25rem .875rem .1875rem
  }
  
  .btn-primary {
    color: #fff;
    background-color: #1266f1
  }
  
  .btn-primary.focus,
  .btn-primary:focus,
  .btn-primary:hover {
    color: #fff;
    background-color: #0c56d0
  }
  
  .btn-check:active+.btn-primary,
  .btn-check:checked+.btn-primary,
  .btn-primary.active,
  .btn-primary:active,
  .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #093d94
  }
  
  .btn-check:active+.btn-primary:focus,
  .btn-check:checked+.btn-primary:focus,
  .btn-primary.active:focus,
  .btn-primary:active:focus,
  .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .2), 0 4px 20px 0 rgba(0, 0, 0, .1)
  }
  
  .btn-primary.disabled,
  .btn-primary:disabled {
    color: #fff;
    background-color: #1266f1
  }
  
  .btn-secondary {
    color: #fff;
    background-color: #b23cfd
  }
  
  .btn-secondary.focus,
  .btn-secondary:focus,
  .btn-secondary:hover {
    color: #fff;
    background-color: #a316fd
  }
  
  .btn-check:active+.btn-secondary,
  .btn-check:checked+.btn-secondary,
  .btn-secondary.active,
  .btn-secondary:active,
  .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #8102d1
  }
  
  .btn-check:active+.btn-secondary:focus,
  .btn-check:checked+.btn-secondary:focus,
  .btn-secondary.active:focus,
  .btn-secondary:active:focus,
  .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .2), 0 4px 20px 0 rgba(0, 0, 0, .1)
  }
  
  .btn-secondary.disabled,
  .btn-secondary:disabled {
    color: #fff;
    background-color: #b23cfd
  }
  
  .btn-success {
    color: #fff;
    background-color: #00b74a
  }
  
  .btn-success.focus,
  .btn-success:focus,
  .btn-success:hover {
    color: #fff;
    background-color: #00913b
  }
  
  .btn-check:active+.btn-success,
  .btn-check:checked+.btn-success,
  .btn-success.active,
  .btn-success:active,
  .show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #005121
  }
  
  .btn-check:active+.btn-success:focus,
  .btn-check:checked+.btn-success:focus,
  .btn-success.active:focus,
  .btn-success:active:focus,
  .show>.btn-success.dropdown-toggle:focus {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .2), 0 4px 20px 0 rgba(0, 0, 0, .1)
  }
  
  .btn-success.disabled,
  .btn-success:disabled {
    color: #fff;
    background-color: #00b74a
  }
  
  .btn-info {
    color: #fff;
    background-color: #39c0ed;
    margin-left: 1%;
    border-radius: 0.375em;
    text-decoration: none;
  }
  
  .btn-info.focus,
  .btn-info:focus,
  .btn-info:hover {
    color: #fff;
    background-color: #16b5ea
  }
  
  .btn-check:active+.btn-info,
  .btn-check:checked+.btn-info,
  .btn-info.active,
  .btn-info:active,
  .show>.btn-info.dropdown-toggle {
    color: #fff;
    background-color: #1088b0
  }
  
  .btn-check:active+.btn-info:focus,
  .btn-check:checked+.btn-info:focus,
  .btn-info.active:focus,
  .btn-info:active:focus,
  .show>.btn-info.dropdown-toggle:focus {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .2), 0 4px 20px 0 rgba(0, 0, 0, .1)
  }
  
  .btn-info.disabled,
  .btn-info:disabled {
    color: #fff;
    background-color: #39c0ed
  }
  
  .btn-warning {
    color: #fff;
    background-color: #ffa900
  }
  
  .btn-warning.focus,
  .btn-warning:focus,
  .btn-warning:hover {
    color: #fff;
    background-color: #d99000
  }
  
  .btn-check:active+.btn-warning,
  .btn-check:checked+.btn-warning,
  .btn-warning.active,
  .btn-warning:active,
  .show>.btn-warning.dropdown-toggle {
    color: #fff;
    background-color: #996500
  }
  
  .btn-check:active+.btn-warning:focus,
  .btn-check:checked+.btn-warning:focus,
  .btn-warning.active:focus,
  .btn-warning:active:focus,
  .show>.btn-warning.dropdown-toggle:focus {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .2), 0 4px 20px 0 rgba(0, 0, 0, .1)
  }
  
  .btn-warning.disabled,
  .btn-warning:disabled {
    color: #fff;
    background-color: #ffa900
  }
  
  .btn-danger {
    color: #fff;
    background-color: #f93154
  }
  
  .btn-danger.focus,
  .btn-danger:focus,
  .btn-danger:hover {
    color: #fff;
    background-color: #f80c35
  }
  
  .btn-check:active+.btn-danger,
  .btn-check:checked+.btn-danger,
  .btn-danger.active,
  .btn-danger:active,
  .show>.btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #be0626
  }
  
  .btn-check:active+.btn-danger:focus,
  .btn-check:checked+.btn-danger:focus,
  .btn-danger.active:focus,
  .btn-danger:active:focus,
  .show>.btn-danger.dropdown-toggle:focus {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .2), 0 4px 20px 0 rgba(0, 0, 0, .1)
  }
  
  .btn-danger.disabled,
  .btn-danger:disabled {
    color: #fff;
    background-color: #f93154
  }
  
  .btn-light {
    color: #4f4f4f;
    background-color: #fbfbfb
  }
  
  .btn-light.focus,
  .btn-light:focus,
  .btn-light:hover {
    color: #4f4f4f;
    background-color: #e8e8e8
  }
  
  .btn-check:active+.btn-light,
  .btn-check:checked+.btn-light,
  .btn-light.active,
  .btn-light:active,
  .show>.btn-light.dropdown-toggle {
    color: #4f4f4f;
    background-color: #c8c8c8
  }
  
  .btn-check:active+.btn-light:focus,
  .btn-check:checked+.btn-light:focus,
  .btn-light.active:focus,
  .btn-light:active:focus,
  .show>.btn-light.dropdown-toggle:focus {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .2), 0 4px 20px 0 rgba(0, 0, 0, .1)
  }
  
  .btn-light.disabled,
  .btn-light:disabled {
    color: #4f4f4f;
    background-color: #fbfbfb
  }
  
  .btn-dark {
    color: #fff;
    background-color: #262626
  }
  
  .btn-dark.focus,
  .btn-dark:focus,
  .btn-dark:hover {
    color: #fff;
    background-color: #131313
  }
  
  .btn-check:active+.btn-dark,
  .btn-check:checked+.btn-dark,
  .btn-dark.active,
  .btn-dark:active,
  .show>.btn-dark.dropdown-toggle {
    color: #fff;
    background-color: #000
  }
  
  .btn-check:active+.btn-dark:focus,
  .btn-check:checked+.btn-dark:focus,
  .btn-dark.active:focus,
  .btn-dark:active:focus,
  .show>.btn-dark.dropdown-toggle:focus {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .2), 0 4px 20px 0 rgba(0, 0, 0, .1)
  }
  
  .btn-dark.disabled,
  .btn-dark:disabled {
    color: #fff;
    background-color: #262626
  }
  
  .btn-white {
    color: #4f4f4f;
    background-color: #fff
  }
  
  .btn-white.focus,
  .btn-white:focus,
  .btn-white:hover {
    color: #4f4f4f;
    background-color: #ececec
  }
  
  .btn-check:active+.btn-white,
  .btn-check:checked+.btn-white,
  .btn-white.active,
  .btn-white:active,
  .show>.btn-white.dropdown-toggle {
    color: #4f4f4f;
    background-color: #ccc
  }
  
  .btn-check:active+.btn-white:focus,
  .btn-check:checked+.btn-white:focus,
  .btn-white.active:focus,
  .btn-white:active:focus,
  .show>.btn-white.dropdown-toggle:focus {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .2), 0 4px 20px 0 rgba(0, 0, 0, .1)
  }
  
  .btn-white.disabled,
  .btn-white:disabled {
    color: #4f4f4f;
    background-color: #fff
  }
  
  .btn-black,
  .btn-black.active,
  .btn-black.focus,
  .btn-black:active,
  .btn-black:focus,
  .btn-black:hover,
  .btn-check:active+.btn-black,
  .btn-check:checked+.btn-black,
  .show>.btn-black.dropdown-toggle {
    color: #fff;
    background-color: #000
  }
  
  .btn-black.active:focus,
  .btn-black:active:focus,
  .btn-check:active+.btn-black:focus,
  .btn-check:checked+.btn-black:focus,
  .show>.btn-black.dropdown-toggle:focus {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .2), 0 4px 20px 0 rgba(0, 0, 0, .1)
  }
  
  .btn-black.disabled,
  .btn-black:disabled {
    color: #fff;
    background-color: #000
  }
  
  .btn-outline-primary {
    color: #1266f1;
    border-color: #1266f1
  }
  
  .btn-outline-primary:hover {
    color: #1266f1;
    background-color: rgba(0, 0, 0, .02)
  }
  
  .btn-outline-primary.active,
  .btn-outline-primary.dropdown-toggle.show,
  .btn-outline-primary.focus,
  .btn-outline-primary:active,
  .btn-outline-primary:focus {
    color: #1266f1;
    background-color: transparent
  }
  
  .btn-outline-primary.active:focus,
  .btn-outline-primary.dropdown-toggle.show:focus,
  .btn-outline-primary:active:focus {
    box-shadow: none
  }
  
  .btn-outline-primary.disabled,
  .btn-outline-primary:disabled {
    color: #1266f1
  }
  
  .btn-outline-secondary {
    color: #b23cfd;
    border-color: #b23cfd
  }
  
  .btn-outline-secondary:hover {
    color: #b23cfd;
    background-color: rgba(0, 0, 0, .02)
  }
  
  .btn-outline-secondary.active,
  .btn-outline-secondary.dropdown-toggle.show,
  .btn-outline-secondary.focus,
  .btn-outline-secondary:active,
  .btn-outline-secondary:focus {
    color: #b23cfd;
    background-color: transparent
  }
  
  .btn-outline-secondary.active:focus,
  .btn-outline-secondary.dropdown-toggle.show:focus,
  .btn-outline-secondary:active:focus {
    box-shadow: none
  }
  
  .btn-outline-secondary.disabled,
  .btn-outline-secondary:disabled {
    color: #b23cfd
  }
  
  .btn-outline-success {
    color: #00b74a;
    border-color: #00b74a
  }
  
  .btn-outline-success:hover {
    color: #00b74a;
    background-color: rgba(0, 0, 0, .02)
  }
  
  .btn-outline-success.active,
  .btn-outline-success.dropdown-toggle.show,
  .btn-outline-success.focus,
  .btn-outline-success:active,
  .btn-outline-success:focus {
    color: #00b74a;
    background-color: transparent
  }
  
  .btn-outline-success.active:focus,
  .btn-outline-success.dropdown-toggle.show:focus,
  .btn-outline-success:active:focus {
    box-shadow: none
  }
  
  .btn-outline-success.disabled,
  .btn-outline-success:disabled {
    color: #00b74a
  }
  
  .btn-outline-info {
    color: #39c0ed;
    border-color: #39c0ed
  }
  
  .btn-outline-info:hover {
    color: #39c0ed;
    background-color: rgba(0, 0, 0, .02)
  }
  
  .btn-outline-info.active,
  .btn-outline-info.dropdown-toggle.show,
  .btn-outline-info.focus,
  .btn-outline-info:active,
  .btn-outline-info:focus {
    color: #39c0ed;
    background-color: transparent
  }
  
  .btn-outline-info.active:focus,
  .btn-outline-info.dropdown-toggle.show:focus,
  .btn-outline-info:active:focus {
    box-shadow: none
  }
  
  .btn-outline-info.disabled,
  .btn-outline-info:disabled {
    color: #39c0ed
  }
  
  .btn-outline-warning {
    color: #ffa900;
    border-color: #ffa900
  }
  
  .btn-outline-warning:hover {
    color: #ffa900;
    background-color: rgba(0, 0, 0, .02)
  }
  
  .btn-outline-warning.active,
  .btn-outline-warning.dropdown-toggle.show,
  .btn-outline-warning.focus,
  .btn-outline-warning:active,
  .btn-outline-warning:focus {
    color: #ffa900;
    background-color: transparent
  }
  
  .btn-outline-warning.active:focus,
  .btn-outline-warning.dropdown-toggle.show:focus,
  .btn-outline-warning:active:focus {
    box-shadow: none
  }
  
  .btn-outline-warning.disabled,
  .btn-outline-warning:disabled {
    color: #ffa900
  }
  
  .btn-outline-danger {
    color: #f93154;
    border-color: #f93154
  }
  
  .btn-outline-danger:hover {
    color: #f93154;
    background-color: rgba(0, 0, 0, .02)
  }
  
  .btn-outline-danger.active,
  .btn-outline-danger.dropdown-toggle.show,
  .btn-outline-danger.focus,
  .btn-outline-danger:active,
  .btn-outline-danger:focus {
    color: #f93154;
    background-color: transparent
  }
  
  .btn-outline-danger.active:focus,
  .btn-outline-danger.dropdown-toggle.show:focus,
  .btn-outline-danger:active:focus {
    box-shadow: none
  }
  
  .btn-outline-danger.disabled,
  .btn-outline-danger:disabled {
    color: #f93154
  }
  
  .btn-outline-light {
    color: #fbfbfb;
    border-color: #fbfbfb;
    border-width: 0.125em;
    margin-left: 4%;
    border-radius: 0.375em;
    text-decoration: none;
  }
  
  .btn-outline-light:hover {
    color: #070707;
    background-color: #ffffff;
  }
  
  .btn-outline-light.active,
  .btn-outline-light.dropdown-toggle.show,
  .btn-outline-light.focus,
  .btn-outline-light:active,
  .btn-outline-light:focus {
    color: #fbfbfb;
    background-color: transparent
  }
  
  .btn-outline-light.active:focus,
  .btn-outline-light.dropdown-toggle.show:focus,
  .btn-outline-light:active:focus {
    box-shadow: none
  }
  
  .btn-outline-light.disabled,
  .btn-outline-light:disabled {
    color: #fbfbfb
  }
  
  .btn-outline-dark {
    color: #262626;
    border-color: #262626
  }
  
  .btn-outline-dark:hover {
    color: #262626;
    background-color: rgba(0, 0, 0, .02)
  }
  
  .btn-outline-dark.active,
  .btn-outline-dark.dropdown-toggle.show,
  .btn-outline-dark.focus,
  .btn-outline-dark:active,
  .btn-outline-dark:focus {
    color: #262626;
    background-color: transparent
  }
  
  .btn-outline-dark.active:focus,
  .btn-outline-dark.dropdown-toggle.show:focus,
  .btn-outline-dark:active:focus {
    box-shadow: none
  }
  
  .btn-outline-dark.disabled,
  .btn-outline-dark:disabled {
    color: #262626
  }
  
  .btn-outline-white {
    color: #fff;
    border-color: #fff
  }
  
  .btn-outline-white:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, .02)
  }
  
  .btn-outline-white.active,
  .btn-outline-white.dropdown-toggle.show,
  .btn-outline-white.focus,
  .btn-outline-white:active,
  .btn-outline-white:focus {
    color: #fff;
    background-color: transparent
  }
  
  .btn-outline-white.active:focus,
  .btn-outline-white.dropdown-toggle.show:focus,
  .btn-outline-white:active:focus {
    box-shadow: none
  }
  
  .btn-outline-white.disabled,
  .btn-outline-white:disabled {
    color: #fff
  }
  
  .btn-outline-black {
    color: #000;
    border-color: #000
  }
  
  .btn-outline-black:hover {
    color: #000;
    background-color: rgba(0, 0, 0, .02)
  }
  
  .btn-outline-black.active,
  .btn-outline-black.dropdown-toggle.show,
  .btn-outline-black.focus,
  .btn-outline-black:active,
  .btn-outline-black:focus {
    color: #000;
    background-color: transparent
  }
  
  .btn-outline-black.active:focus,
  .btn-outline-black.dropdown-toggle.show:focus,
  .btn-outline-black:active:focus {
    box-shadow: none
  }
  
  .btn-outline-black.disabled,
  .btn-outline-black:disabled {
    color: #000
  }
  
  .btn-group-lg>.btn,
  .btn-lg {
    padding: .75rem 1.6875rem .6875rem;
    font-size: .875rem;
    line-height: 1.6
  }
  
  .btn-group-sm>.btn,
  .btn-sm {
    padding: .375rem 1rem .3125rem;
    font-size: .75rem;
    line-height: 1.5
  }
  
  .btn-link {
    box-shadow: none;
    text-decoration: none
  }
  
  .btn-link.focus,
  .btn-link:focus,
  .btn-link:hover {
    text-decoration: none
  }
  
  .btn-link.active,
  .btn-link.active:focus,
  .btn-link.focus,
  .btn-link:active,
  .btn-link:active:focus,
  .btn-link:focus,
  .btn-link:hover {
    box-shadow: none;
    background-color: #f5f5f5
  }
  
  .btn-link.disabled,
  .btn-link:disabled,
  fieldset:disabled .btn-link {
    box-shadow: none
  }
  
  .btn-rounded {
    border-radius: 10rem
  }
  
  .btn-floating,
  [class*=btn-outline-].btn-floating {
    border-radius: 50%;
    padding: 0;
    position: relative
  }
  
  .btn-floating {
    width: 2.3125rem;
    height: 2.3125rem
  }
  
  .btn-floating .fab,
  .btn-floating .far,
  .btn-floating .fas {
    width: 2.3125rem;
    line-height: 2.3125rem
  }
  
  .btn-floating.btn-lg,
  .btn-group-lg>.btn-floating.btn {
    width: 2.8125rem;
    height: 2.8125rem
  }
  
  .btn-floating.btn-lg .fab,
  .btn-floating.btn-lg .far,
  .btn-floating.btn-lg .fas,
  .btn-group-lg>.btn-floating.btn .fab,
  .btn-group-lg>.btn-floating.btn .far,
  .btn-group-lg>.btn-floating.btn .fas {
    width: 2.8125rem;
    line-height: 2.8125rem
  }
  
  .btn-floating.btn-sm,
  .btn-group-sm>.btn-floating.btn {
    width: 1.8125rem;
    height: 1.8125rem
  }
  
  .btn-floating.btn-sm .fab,
  .btn-floating.btn-sm .far,
  .btn-floating.btn-sm .fas,
  .btn-group-sm>.btn-floating.btn .fab,
  .btn-group-sm>.btn-floating.btn .far,
  .btn-group-sm>.btn-floating.btn .fas {
    width: 1.8125rem;
    line-height: 1.8125rem
  }
  
  [class*=btn-outline-].btn-floating .fab,
  [class*=btn-outline-].btn-floating .far,
  [class*=btn-outline-].btn-floating .fas {
    width: 2.0625rem;
    line-height: 2.0625rem
  }
  
  .btn-group-lg>[class*=btn-outline-].btn-floating.btn .fab,
  .btn-group-lg>[class*=btn-outline-].btn-floating.btn .far,
  .btn-group-lg>[class*=btn-outline-].btn-floating.btn .fas,
  [class*=btn-outline-].btn-floating.btn-lg .fab,
  [class*=btn-outline-].btn-floating.btn-lg .far,
  [class*=btn-outline-].btn-floating.btn-lg .fas {
    width: 2.5625rem;
    line-height: 2.5625rem
  }
  
  .btn-group-sm>[class*=btn-outline-].btn-floating.btn .fab,
  .btn-group-sm>[class*=btn-outline-].btn-floating.btn .far,
  .btn-group-sm>[class*=btn-outline-].btn-floating.btn .fas,
  [class*=btn-outline-].btn-floating.btn-sm .fab,
  [class*=btn-outline-].btn-floating.btn-sm .far,
  [class*=btn-outline-].btn-floating.btn-sm .fas {
    width: 1.5625rem;
    line-height: 1.5625rem
  }
  
  .fixed-action-btn {
    position: fixed;
    right: 2.1875rem;
    bottom: 2.1875rem;
    z-index: 1030;
    display: flex;
    flex-flow: column-reverse nowrap;
    align-items: center;
    padding: .9375rem 20px 20px;
    margin-bottom: 0;
    height: auto;
    overflow: hidden
  }
  
  .fixed-action-btn>.btn-floating {
    position: relative;
    transform: scale(1.2);
    z-index: 10
  }
  
  .fixed-action-btn ul {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    padding: 0;
    margin: 0;
    text-align: center;
    opacity: 0;
    transition: transform .4s, opacity .4s;
    z-index: -1
  }
  
  .fixed-action-btn ul,
  .fixed-action-btn ul li {
    display: flex
  }
  
  .fixed-action-btn ul li {
    z-index: 0;
    margin-right: auto;
    margin-bottom: 1.5rem;
    margin-left: auto
  }
  
  .fixed-action-btn ul li:first-of-type {
    margin-top: .75rem
  }
  
  .fixed-action-btn ul a.btn {
    opacity: 0;
    transition: opacity .4s ease-in
  }
  
  .fixed-action-btn.active ul,
  .fixed-action-btn ul a.btn.shown {
    opacity: 1
  }

/* end button */

/* start portfolio */
.portfolio-section {
  margin: 2rem 0 1rem !important;
}

.g-0 {
  --bs-gutter-x: 0
}

.g-0 {
  --bs-gutter-y: 0
}

.img-fluid {
  max-width: 100%;
  height: auto;
  margin-left: 9%;
}

.img-fluid1 {
  max-width: 91%;
  height: auto;
  /* margin-left: 9%; */
}

img {
  vertical-align: middle
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
  margin-left: 5%;
}

.m-4 {
  margin: 1.5rem;
}

.mt-md-2 {
  margin-top: .5rem;
}

.text-teal {
  color: rgb(18, 210, 149);
}

.text-small {
  font-size: 0.85rem;
}

.text-muted {
  color: #757575;
}

.h3,
h3 {
  font-size: calc(1.3rem + .6vw)
}

@media(min-width:1200px) {

  .h3,
  h3 {
    font-size: 1.75rem
  }
}

/* .portfolio-reverse {
  flex-direction: column-reverse;
} */

.portfolio-reverse .text-end {
  text-align: start;
}

.text-end {
  text-align: right;
}
/* end portfolio */

